.wing_fixed{
	position: fixed;
	right: 10%;
	}

.wing_relative{
	position: relative;
}
.wing_banner {
	position: absolute;
	top:250px;
	left:50%;
	z-index:10000;
	/* margin-left:1833px; */
} 
/* div.wing_banner.wing_fixed{
	position:fixed
	top:10px;
	} */
#wingBanner{
	position:fixed;
	top:10px;
}
.wing_banner .wing_prd_wrap {
	position:relative;
	width:68px;
	margin-bottom:-1px;
	border:1px solid #dadee1;
	background:#fff; 
	height: 270px;}
.wing_banner .wing_prd_wrap .hwrap {margin-bottom:9px;line-height:14px;text-align:center;}
.wing_banner .wing_prd_wrap .hwrap .tit{display:block;padding-top:9px;font-weight:normal;font-family:'占쏙옙占쏙옙',dotum,'AppleSDGothicNeo',Tahoma,sans-serif;font-size:11px;line-height:14px;color:#666;letter-spacing:-1px;}
.wing_banner .wing_prd_wrap .hwrap .tit a {display:block;position:relative;margin-top:-9px;padding-top:9px;margin-bottom:12px;text-align:center;text-decoration:none;}
.wing_banner .wing_prd_wrap .hwrap .tit a .tx {display:block;color:#666;}
.wing_banner .wing_prd_wrap .hwrap .tit a .count{display:inline-block;margin-top:3px;padding-bottom:1px;font-weight:bold;font-family:Tahoma, sans-serif;font-size:11px;line-height:12px;letter-spacing:0;color:#f43142;background:url(/img/common/bg_tit_line.gif) repeat-x left bottom;}
.wing_banner .wing_prd_wrap .hwrap .tit a .count:before {display:block;height:0;content:""; }
.wing_banner .wing_prd_wrap .hwrap .tit .ico{display:block; position:absolute; left:-1px;bottom:-1px;width:15px;height:15px;}
.wing_banner .wing_prd_wrap .hwrap .tit a:hover .ico{ background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -95px -385px;}
.wing_banner .wing_prd_wrap .hwrap .tit a:hover .tx { text-decoration:underline;}
.wing_banner .wing_prd_wrap .hwrap .tit.on a .ico{ background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -115px -385px;}
.wing_banner .wing_prd_list {margin:9px 37px 0px;}
.wing_banner .wing_prd_list ul {
	position:relative;
	width:60px;
	height:125px;
	right: 71px;}
.wing_banner .wing_prd { position:relative; margin-bottom:5px;font-size:0;}
.wing_banner .wing_prd .wing_prd_img{display:block;width:60px;height:60px;text-align:center;}
.wing_banner .wing_prd img {max-width:60px;height:60px;*width:60px;*max-width:auto;vertical-align:middle;}
.wing_banner .wing_prd .wing_prd_info{ display:none;}
.wing_banner .wing_prd a:hover .wing_prd_info{display:block; position:absolute; top:0;right:0;left:20;width:140px;height:58px;padding-right:59px;font-family:'占쏙옙占쏙옙',dotum,'AppleSDGothicNeo',Tahoma,sans-serif;font-size:11px;line-height:14px;border:1px solid #111111;}
.wing_banner .wing_prd a:hover .wing_prd_info .p_name{display:block;overflow:hidden;height:30px;padding:8px 20px 0 15px;line-height:15px;color:#111;background:#fff;}
.wing_banner .wing_prd a:hover .wing_prd_info .p_price{display:block;height:14px;padding:0 20px 6px 15px;color:#f43142;background:#fff;}
.wing_banner .wing_prd a:hover .wing_prd_info .p_price strong{font-family:tahoma, san-serif;}
.wing_banner .wing_prd a:hover .wing_prd_info .p_name:hover {text-decoration:underline;}
.wing_banner .wing_paging .wing_btn button{
	width: 16px;
	height: 16px;
}
.wing_btn_delete {
	display:none;
	position:absolute;
	top:0;
	right:0;
	z-index:999;
	width:13px;
	height:13px; 
	font-size:0;
	line-height:0;
	color:transparent;
	background: url("/resources/images/historyImg/x.jpg") no-repeat;
	/* background:url(/X���� ���ㅺ� 諛�轅�寃�.) no-repeat -21px -387px; */
	}
.wing_banner .wing_prd:hover .wing_btn_delete{
	display:inline; 
	
	}
.wing_banner .wing_paging{
	margin:9px 0 10px;
	margin: 20px;
	margin-top: 67px;
	}
.wing_banner .wing_paging .count{text-align:center;font-family:tahoma, sans-serif;font-size:11px;line-height:14px;letter-spacing:0;color:#999999;}
.wing_banner .wing_paging .count strong{color:#111;}
.wing_banner .wing_paging .wing_btn {
	overflow:hidden;
	margin:5px auto 0;
	width:100px;
	bottom: 0px;
	/* position: relative; */
	right: 0px;
	}
.wing_banner .wing_paging .wing_btn button {
	width:16px;
	height:16px;
	font-size:0;
	line-height:0;
	/* background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat 0 0;*/ 
	} 

.wing_banner .wing_prd_wrap2 {margin-bottom:5px;background:#fff;border-bottom:1px solid #dadee1;}
.wing_banner .wing_prd_wrap2 .wing_prd_list ul { height:60px; }
/* .wing_banner .wing_prd_wrap2 .ad_nwlay {position:absolute;bottom:9px;right:5px;width:25px;height:auto;margin-left:0;z-index:1000;}
.wing_banner .wing_prd_wrap2 .ad_nwlay button.ad_link {margin-bottom:0;font-size:0;line-height:0;width:25px;height:16px;color:transparent;background:transparent url(/resources/images/historyImg/sp_common_v2.png) no-repeat -60px -385px;vertical-align:middle;}
.wing_banner .wing_prd_wrap2 .ad_nwlay button.ad_link .ico {display:inline-block;width:0;height:0;margin-left:0;font-size:0;line-height:0;color:transparent; }
.wing_banner .wing_prd_wrap2 .ad_nwlay .help_pop{ position:absolute;top:17px;left:auto;right:0;width:138px;padding:7px 20px 5px 5px;height:auto;font-family:'占쏙옙占쏙옙',dotum,'AppleSDGothicNeo',Tahoma,sans-serif;font-size:11px;line-height:14px;vertical-align:middle;text-align:left;color:#888888;border:1px solid #dadee1;background:#fff;}
.wing_banner .wing_prd_wrap2 .ad_nwlay .help_pop p{ white-space:normal;}
.wing_banner .wing_prd_wrap2 .ad_nwlay .help_pop .btn_close{display:block;position:absolute;top:3px;right:3px;width:16px;height:16px;font-size:0;line-height:0;color:transparent;background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -38px -384px;} */
.wing_banner .wing_prd_layer {display:none; position:absolute; top:-1px;right:69px;padding-top:38px;z-index:10;border:1px solid #111111; background:#fff; }
.wing_banner .wing_prd_layer ul {overflow-y:auto;overflow-x:hidden; position:relative; width:285px;max-height:570px;*height:570px;padding:0 15px 5px 15px; }
.wing_banner .wing_prd_layer li {/* position:relative; */width:270px;margin:10px 0 5px;padding-top:10px;border-top:1px solid #f2f2f2;}
.wing_banner .wing_prd_layer li:first-child{margin-top:0;padding-top:0;border:none;}
.wing_banner .wing_prd_layer li a { display:block;}
.wing_banner .wing_prd_layer .wing_prd{display:block;overflow:hidden;}
.wing_banner .wing_prd_layer .wing_prd_img{display:block; position:relative; float:left;width:60px;height:60px;text-align:center;border:1px solid #fff;}
.wing_banner .wing_prd_layer .wing_prd_img img {max-width:60px;*max-width:auto;*width:60px;height:60px;vertical-align:middle;}
.wing_banner .wing_prd_layer .wing_prd_info2 .wing_prd_info2_inner{display:block;}
.wing_banner .wing_prd_layer .wing_prd_info2{display:block;float:left;width:195px;padding:12px 0 0 10px; }
.wing_banner .wing_prd_layer .wing_prd_info2 .p_name{display:block;overflow:hidden;width:193px;height:18px;font-family:'筌�占쏙옙占� �⑨옙占쏙옙','占쏙옙占쏙옙','�대����',Malgun Gothic,dotum,Gulim,Tahoma,sans-serif;font-size:14px;line-height:17px;color:#666666;}
.wing_banner .wing_prd_layer .wing_prd_info2 .p_price{display:block;margin-top:3px;font-family:tahoma,san-serif;font-size:12px;color:#f43142; }
.wing_banner .wing_prd_layer .wing_btn_close{ position:absolute;  top:10px; right:10px;width:16px;height:16px;font-size:0;line-height:0;color:transparent;background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -39px -365px;}
.wing_banner .wing_prd_layer .wing_layer_tail{ position:absolute; top:25px;right:-7px;width:7px;height:13px;background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -65px -364px; }
.wing_banner .wing_prd_layer li a:hover .p_name{ text-decoration:underline; }
.wing_banner .wing_prd_layer li:hover .wing_prd_img{ border:1px solid #111; }
.wing_banner .wing_prd_layer li:hover .wing_btn_delete, .wing_banner .wing_prd_layer li:focus .wing_btn_delete{display:block;}
.wing_banner .wing_prd_layer li .wing_btn_delete{display:none; position:absolute; top:10px;left:48px;z-index:1;width:13px;height:13px;font-size:0;line-height:0;color:transparent;background:url(/resources/images/historyImg/sp_common_v2.png) no-repeat -21px -387px;}
.wing_banner .wing_prd_layer li:first-child .wing_btn_delete {top:0;}
.wing_banner .wing_prd_layer.on {display:block;}
.wing_banner .wing_vis_area {margin-bottom:5px;}
.wing_banner .btn_top{width:70px;height:27px;margin-top:-3px;background:url(/resources/images/historyImg/img_top.gif) no-repeat left top;}
.wing_banner .btn_top a {display:block;width:100%;height:27px;font-size:0;line-height:0;color:transparent;}
/* //2017-02-17 cyn add wing_banner */

#disable{
	display: none;
}
.wing_btn_prev{
	float: left;
	display: inline;
	background: url("/resources/images/historyImg/prebtn.jpg");
}
.wing_btn_next{
	display: inline;
	background: url("/resources/images/historyImg/nextbtn.jpg");
}
#closet_btn{
	width: 69px;
}
#favorite_btn{
	width: 69px;
	font-size: 12px;
	height: 27px;
}
.closet_btn{
	height: 27px;	
}
.favorite_btn{
	height: 27px;
	margin-top:-3px;	
}
.btns{
	height: 54px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	