<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kostyle.admin.mappers.adminMapper">

<insert id="insertShoppingMall" parameterType="ShoppingMallAdmin">
	insert into ShoppingMall (s_num, s_manager, s_shopurl, s_searchurl, s_shopreg, s_sname, s_email, s_age, s_phonenumber, s_image)
		values('s_'||lpad(shoppingmall_snum_seq.nextval,2,0), #{s_manager}, #{s_shopurl}, #{s_searchurl}, #{s_shopreg}, #{s_sname}, #{s_email}, #{s_age}, #{s_phonenumber}, #{s_image})
</insert>
  
<select id="countShoppingMall" resultType="int">
	select count(*) from ShoppingMall
</select>

<select id="countSearchShop" resultType="int" parameterType="SearchCriteriaAdmin">
	select count(*) from shoppingmall
	<include refid="saerchShop"></include>
	order by s_num
</select>

<select id="shopList" resultType="ShoppingMallAdmin">
	select * from shoppingMall 
	<include refid="saerchShop"></include>
	order by s_num
</select>

<select id="getShoppingMall" resultType="ShoppingMallAdmin">
	select * from shoppingMall where s_num = #{s_num}
</select>

<select id="getAdShoppingMall" resultType="AdShoppingMallAdmin">
	select * from adshoppingMall where s_num = #{s_num}
</select>

<insert id="insertAdShoppingMall" parameterType="AdShoppingMallAdmin">
	insert into adshoppingmall (s_num, ad_id, ad_pass, p_powernum, s_grade) values(#{s_num}, #{ad_id}, '1111', 2, #{s_grade})
</insert>

<select id="adShopList" resultType="AdShoppingMallAdmin">
	select * from adshoppingmall order by s_num
</select>

<delete id="deleteAdShop">
	delete from adshoppingmall where s_num = #{s_num}
</delete>

<update id="updateAdShopInfo" parameterType="AdShoppingMallAdmin">
	update adshoppingmall set s_grade=#{s_grade} where s_num=#{s_num}
</update>

<update id="updateShopInfo" parameterType="ShoppingMallAdmin">
	update shoppingmall 
	set s_manager=#{s_manager}, s_shopurl=#{s_shopurl}, s_searchurl=#{s_searchurl}, s_sname=#{s_sname}, s_email=#{s_email},
	 s_age=#{s_age}, s_phonenumber=#{s_phonenumber}, s_image=#{s_image}
	where s_num=#{s_num}
</update>

<select id="admintest" resultType="SearchKeywordStats">
	select sk_searchkey from searchkeyword where sk_searchkey like '%'||#{sk_searchkey}||'%' 
</select>



<sql id="saerchShop">
	<if test="searchType != null">
		<if test="searchType == 'none'.toString()">
			where s_shopreg like '%'||#{keyword}||'%'
			OR
			s_num like '%'||#{keyword}||'%'
			OR
			s_sname like '%'||#{keyword}||'%'
			OR
			s_shopurl like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'snum'.toString()">
			where s_num like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'sname'.toString()">
			where s_sname like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'surl'.toString()">
			where s_shopurl like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'sreg'.toString()">
			where s_shopreg like '%'||#{keyword}||'%'
		</if>
	</if>
</sql>

</mapper>  

