<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kostyle.admin.mappers.adminMapper">

<insert id="insertShoppingMall" parameterType="ShoppingMallAdmin">
	insert into ShoppingMall (s_num, s_manager, s_shopurl, s_searchurl, s_shopreg, s_sname, s_email, s_age, s_phonenumber, s_image)
		values('s_'||lpad(shoppingmall_snum_seq.nextval,2,0), #{s_manager}, #{s_shopurl}, #{s_searchurl}, #{s_shopreg}, #{s_sname}, #{s_email}, #{s_age}, #{s_phonenumber}, #{s_image})
</insert>
  
<select id="countShoppingMall" resultType="int">
	select count(*) from ShoppingMall
</select>

<select id="countSearchShop" resultType="int" parameterType="SearchCriteriaAdmin">
	select count(*) from shoppingmall
	<include refid="saerchShop"></include>
	order by s_num
</select>

<select id="shopList" resultType="ShoppingMallAdmin">
	select * from shoppingMall 
	<include refid="saerchShop"></include>
	order by s_num
</select>

<select id="getShoppingMall" resultType="ShoppingMallAdmin">
	select * from shoppingMall where s_num = #{s_num}
</select>

<insert id="insertAdShoppingMall" parameterType="ShoppingMallAdmin">
	insert into adshoppingmall (s_num, ad_id, ad_pass, p_powernum) values(#{s_num}, #{s_email}, '1111', 2)
</insert>

<select id="adShopList" resultType="AdShoppingMallAdmin">
	select * from adshoppingmall order by s_num
</select>

<delete id="deleteAdShop">
	delete from adshoppingmall where s_num = #{s_num}
</delete>





<sql id="saerchShop">
	<if test="searchType != null">
		<if test="searchType == 'snum'.toString()">
			where s_num like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'sname'.toString()">
			where s_sname like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'sid'.toString()">
			where s_email like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'surl'.toString()">
			where s_shopurl like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'sreg'.toString()">
			where s_shopreg like '%'||#{keyword}||'%'
		</if>
	</if>
</sql>

</mapper>  

