<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kostyle.favorite.mappers.favoriteMapper">

	<select id="autoF_num" resultType="String"><!-- 1. 즐겨찾기 버튼 클릭시 자동으로 f_num 부여 -->
		select max(f_num+0) from favorite
	</select>
	
	
	<select id="iframeS_num" resultType="String" parameterType="String"><!-- 2. 즐겨찾기 버튼 클릭 시 들어오는 쇼핑몰url의 s_num 출력  -->
		select s_num from shoppingmall where s_shopurl=#{s_shopurl}
	</select>
	
	
	<select id="overlapFavorite" resultType="int"><!-- 3. 즐겨찾기 버튼 클릭 시 동일 고객에게 쇼핑몰이 중복되면 1, 안되면 0 -->
		select count(*) from favorite where s_num=#{s_num} and c_num=#{c_num}
	</select>
	
	
	<insert id="addFavorite" parameterType="FavoriteAdd"><!-- 4. 즐겨찾기 버튼 클릭 시 db에 추가 -->
		insert into favorite(f_num, s_num, c_num, f_coment, f_date)
		values(#{f_num}, #{s_num}, #{c_num}, null, sysdate)
	</insert>
	
	

	<select id="listFavorite" resultType="Favorite">
	<![CDATA[
		select f_date, f_num, f_coment, s_image, s_sname, s_shopurl
		From shoppingmall s, adshoppingmall ad, favorite f
		where f.s_num = ad.s_num
		and ad.s_num = s.s_num
		and f.c_num = #{c_num}
		]]> 
	<![CDATA[     
        order by f.f_date desc
       ]]>
	</select>


	<select id="countPaging" resultType="int"> <!-- 글 갯수를 알려줌 -->
   	<![CDATA[
      select count(*)	From favorite f, customer c
		where f.c_num = c.c_num
		And c.c_num = #{c_num}
      ]]>      
   </select>
    
    
    <select id="comentRead" resultType="Favorite">
		select * from favorite where f_num = #{f_num}
	</select>
    
    
    <update id="comentModify" parameterType="Favorite">
		update favorite set f_coment=#{f_coment} 
		where f_num = #{f_num}
	</update>
    
    
    <delete id="deleteFavorite" parameterType="Favorite">
		delete from favorite
		where c_num = #{c_num} and f_num = #{f_num}
	</delete>
    
    
</mapper>  









