<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kostyle.favorite.mappers.favoriteMapper">

	<select id="listFavorite" resultType="Favorite">
	<![CDATA[
		select f_date, f_num, f_coment, s_image, s_sname, s_shopurl
		From shoppingmall s, adshoppingmall ad, favorite f
		where f.s_num = ad.s_num
		and ad.s_num = s.s_num
		and f.c_num = #{c_num}
		]]> 
	<![CDATA[     
        order by f.f_date desc
       ]]>
	</select>


	<select id="countPaging" resultType="int"> <!-- 글 갯수를 알려줌 -->
   	<![CDATA[
      select count(*)	From favorite f, customer c
		where f.c_num = c.c_num
		And c.c_num = #{c_num}
      ]]>      
   </select>
    
    
    <select id="comentRead" resultType="Favorite">
		select * from favorite where f_num = #{f_num}
	</select>
    
    
    <update id="comentModify" parameterType="Favorite">
		update favorite set f_coment=#{f_coment} 
		where f_num = #{f_num}
	</update>
    
    
    <delete id="deleteFavorite" parameterType="Favorite">
		delete from favorite
		where c_num = #{c_num} and f_num = #{f_num}
	</delete>
    
    
</mapper>  









