<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kostyle.history.mappers.HistoryMapper">
	<cache />
	<select id="listHistory" resultType="HistoryVO">
		select * from history where c_num = #{value}
	</select>
	<select id="countHistory" resultType="int">
		select count(*) from history where c_num = #{value}
	</select>
	
	<delete id="deleteHistory">
		delete from history where h_num = #{value}
	</delete>
	
	<select id="getHistoryNum" resultType="String">
		select max(h_num) from history
	</select>
	<insert id="insertHistory" parameterType="HistoryVO">
		insert into history
		(h_num, c_num, h_name, h_prdurl, h_imgurl, h_price, h_date)
		values
		((select nvl(max(h_num)+1,1) from history), #{c_Num}, #{h_Name}, #{h_Prdurl}, #{h_Imgurl}, #{h_Price}, sysdate)
	</insert>
</mapper>

