<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kostyle.join.mappers.joinMapper">

    <insert id="insertJoin" parameterType="JoinJoin"><!-- 회원가입 데이터 입력 -->
		insert into customer(
			c_num, c_birth, c_phonenumber, c_gender, c_email, p_powernum, c_id,
			c_pass, c_zipcode, c_adress, c_sms, c_name
		)
		values(
			#{c_num}, #{c_birth}, #{c_phonenumber}, #{c_gender}, #{c_email}, 2, #{c_id},
			#{c_pass}, #{c_zipcode}, #{c_adress}, #{c_sms}, #{c_name}
		)
	</insert>
	 
	<select id = "autoNum" resultType="String"> <!-- 회원번호 c_num 자동부여 -->
		SELECT c_num FROM 
 		(SELECT * FROM customer ORDER BY ROWNUM DESC) 
		WHERE ROWNUM = 1
	</select>
	
	
	<select id = "overlapId" resultType="Integer"> <!-- 아이디 중복체크 -->
		select count(*) from customer where c_id = #{c_id}
	</select>
  
</mapper>  









