<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kostyle.stats.mappers.statsMapper">
<!-- 
	<select id="getSNum" parameterType="String" resultType="ShoppingMallStats">
		select * from shoppingmall
			where s_shopurl = #{s_shopurl}
	</select>
	 -->
	 
	 <!-- 검색어 DB저장 -->
	<insert id="insertSearchKeyword" parameterType="SearchKeywordStats">
		insert into searchkeyword(
			c_num, sk_searchkey, sk_date, sk_num
		) 
		values(
			#{c_num}, #{sk_searchkey}, SYSDATE, searchkeyword_seq.nextval
		)
	</insert>
	<!-- 
	<select id="listSearchKeyword" resultType="statsSearchKeyword">
		select * from searchkeyword
	</select>	

	
	<select id="statsGenderRate" parameterType="string" resultType="statsStatsGender">
	select h.s_num, count(decode(c.c_gender, 'F', 1, null)) "F", count(decode(c.c_gender, 'M', 1, null)) "M"
  from customer c, hitcount h
  where c.c_num = h.c_num
  and h.s_num = #{s_num}
  group by h.s_num
  order by h.s_num
	

		select c.c_gender, count(*)
  			from customer c, hitcount h
  			where c.c_num = h.c_num
			and h.s_num = #{s_num}
  			group by c.c_gender
  		
	</select>
		-->
		
		
	<!-- 지역별 방문자수 -->
	<select id="statsDate_adr" resultType="HitcountStatsChart">
	 
	 select to_char(d.cnt_date,'MM-DD') as cnt_date, 
        nvl(e.seoul,0) as seoul, nvl(e.jeju,0) as jeju,
        nvl(e.jeonbuk,0)+nvl(e.jeonnam,0)+nvl(e.kwangju,0) as jeonla,
        nvl(e.kyoungbuk,0)+nvl(e.kyoungnam,0)+nvl(e.busan,0)+nvl(e.daegu,0)+nvl(e.ulsan,0) as kyoungsang,
        nvl(e.chungbuk,0)+nvl(e.chungnam,0)+nvl(e.daejeon,0) as chungcheong,
        nvl(e.kangwon,0) as kangwon, nvl(e.kyounggi,0) as kyounggi, nvl(e.incheon,0) as incheon
  from (select to_date(#{statsSearchStartDate})+level-1 as cnt_date
    from DUAL
    <![CDATA[
    connect by level <= (to_date(#{statsSearchEndDate}) - to_date(#{statsSearchStartDate})+1)) d,
    ]]>	
        (select to_char(h.cnt_date, 'YYYY-MM-DD') as cnt_date, 
                count(decode(SUBSTR(c_adress,0,2), '부산', 1, null)) busan, 
                count(decode(SUBSTR(c_adress,0,2), '서울', 1, null)) seoul, 
                count(decode(SUBSTR(c_adress,0,2), '제주', 1, null)) jeju, 
                count(decode(SUBSTR(c_adress,0,2), '전북', 1, null)) jeonbuk, 
                count(decode(SUBSTR(c_adress,0,2), '전남', 1, null)) jeonnam,  
                count(decode(SUBSTR(c_adress,0,2), '광주', 1, null)) kwangju,
                count(decode(SUBSTR(c_adress,0,2), '강원', 1, null)) kangwon, 
                count(decode(SUBSTR(c_adress,0,2), '경북', 1, null)) kyoungbuk,
                count(decode(SUBSTR(c_adress,0,2), '경남', 1, null)) kyoungnam,
                count(decode(SUBSTR(c_adress,0,2), '대구', 1, null)) daegu,
                count(decode(SUBSTR(c_adress,0,2), '울산', 1, null)) ulsan,
                count(decode(SUBSTR(c_adress,0,2), '경기', 1, null)) kyounggi,
                count(decode(SUBSTR(c_adress,0,2), '충북', 1, null)) chungbuk,
                count(decode(SUBSTR(c_adress,0,2), '충남', 1, null)) chungnam,
                count(decode(SUBSTR(c_adress,0,2), '대전', 1, null)) daejeon,
                count(decode(SUBSTR(c_adress,0,2), '인천', 1, null)) incheon
    from customer c, hitcount h, shoppingmall s
    where c.c_num = h.c_num
    and h.s_num = s.s_num
    and s.s_sname like '%'||#{s_sname}||'%'
    group by to_char(h.cnt_date, 'YYYY-MM-DD')) e
    where d.cnt_date = e.cnt_date(+)
    order by d.cnt_date
	 
	</select>
	
	
	<!-- 성별 방문자수 -->
	<select id="statsDate_gender" resultType="HitcountStatsChart">
	
	select to_char(d.cnt_date,'MM-DD') as cnt_date, nvl(e.f,0) as female, nvl(e.m,0) as male
  from (select to_date(#{statsSearchStartDate})+level-1 as cnt_date
    from DUAL
    <![CDATA[
    connect by level <= (to_date(#{statsSearchEndDate}) - to_date(#{statsSearchStartDate})+1)) d,
    ]]>	
        (select to_char(h.cnt_date, 'YYYY-MM-DD') as cnt_date, count(decode(c.c_gender, 'woman', 1,  null)) F, count(decode(c.c_gender, 'man', 1, null)) M
    from customer c, hitcount h, shoppingmall s
    where c.c_num = h.c_num
    and h.s_num = s.s_num
    and s.s_sname like '%'||#{s_sname}||'%'
    group by to_char(h.cnt_date, 'YYYY-MM-DD')) e
    where d.cnt_date = e.cnt_date(+)
    order by d.cnt_date
    
	</select>
	
	<!-- 연령대별 방문자수 -->
	<select id="statsDate_age" resultType="HitcountStatsChart">
	
	select to_char(d.cnt_date,'MM-DD') as cnt_date, nvl(e.teen,0) as teen, nvl(e.twenty,0) as twenty, nvl(e.thirty,0) as thirty
  from (select to_date(#{statsSearchStartDate})+level-1 as cnt_date
    from DUAL
        <![CDATA[
    connect by level <= (to_date(#{statsSearchEndDate}) - to_date(#{statsSearchStartDate})+1)) d,	
        ]]>
        (select to_char(h.cnt_date, 'YYYY-MM-DD') as cnt_date, 
                  count(decode(trunc((nvl(TRUNC(MONTHS_BETWEEN(sysdate, TO_DATE(c_birth,'yyyy-MM-dd'))/12), 0)+1),-1),'10',1,null)) teen,
                  count(decode(trunc((nvl(TRUNC(MONTHS_BETWEEN(sysdate, TO_DATE(c_birth,'yyyy-MM-dd'))/12), 0)+1),-1),'20',1,null)) twenty,
                  count(decode(trunc((nvl(TRUNC(MONTHS_BETWEEN(sysdate, TO_DATE(c_birth,'yyyy-MM-dd'))/12), 0)+1),-1),'30',1,null)) thirty
    from customer c, hitcount h, shoppingmall s
    where c.c_num = h.c_num
    and s.s_num = h.s_num
    and s.s_sname like '%'||#{s_sname}||'%'
    group by to_char(h.cnt_date, 'YYYY-MM-DD')
    order by to_char(h.cnt_date, 'YYYY-MM-DD')) e
    where d.cnt_date = e.cnt_date(+)
    order by d.cnt_date
	
	</select>
	
	
	<!-- 검색어 순위 -->
	<select id="statsSearchRank" resultType="SearchKeywordChart">
		   select sk_searchkey, count(sk_num) as sk_count
		    from searchkeyword
		    where sk_date between sysdate-7 and sysdate
		    group by sk_searchkey 
		    order by count(sk_num) desc

	</select>
	
	<!-- 최근 1주일간 검색어 순위 그래프 -->
	<select id="searchRankChart" resultType="SearchKeywordChart">
			select to_char(d.cnt_date,'MM-DD') as cnt_date, 
		          nvl(e.sk1,0) as sk1,
		          nvl(e.sk2,0) as sk2,
		          nvl(e.sk3,0) as sk3,
		          nvl(e.sk4,0) as sk4,
		          nvl(e.sk5,0) as sk5,
		          nvl(e.sk6,0) as sk6,
		          nvl(e.sk7,0) as sk7,
		          nvl(e.sk8,0) as sk8
		  from (select to_date(sysdate-7)+level-1 as cnt_date
		    from DUAL
        <![CDATA[
		    connect by level <= (to_date(sysdate) - to_date(sysdate-7)+1)) d,	
        ]]>
		        (select to_char(sk_date, 'YYYY-MM-DD') as cnt_date, 
			                count(decode(sk_searchkey, #{sk1}, 1,  null)) sk1,
			                count(decode(sk_searchkey, #{sk2}, 1,  null)) sk2,
			                count(decode(sk_searchkey, #{sk3}, 1,  null)) sk3,
			                count(decode(sk_searchkey, #{sk4}, 1,  null)) sk4,
			                count(decode(sk_searchkey, #{sk5}, 1,  null)) sk5,
			                count(decode(sk_searchkey, #{sk6}, 1,  null)) sk6,
			                count(decode(sk_searchkey, #{sk7}, 1,  null)) sk7,
			                count(decode(sk_searchkey, #{sk8}, 1,  null)) sk8
		    from searchkeyword
		    group by to_char(sk_date, 'YYYY-MM-DD')) e
		    where d.cnt_date = e.cnt_date(+)
		    order by d.cnt_date
	
	</select>
	
	
	<!-- 최근 1주일간 연령대별 검색어 순위 -->
	<select id="searchRankTeen" resultType="SearchKeywordChart">
		   select sk_searchkey, count(sk_num) as sk_count
		    from searchkeyword sk, customer c
		    where sk.c_num = c.c_num
        and sk_date between sysdate-7 and sysdate
        and c.c_birth between '1998-01-01' and '2017-12-30'
		    group by sk_searchkey
		    order by count(sk_num) desc
	</select>
	
	<select id="searchRankTwenty" resultType="SearchKeywordChart">
		   select sk_searchkey, count(sk_num) as sk_count
		    	from searchkeyword sk, customer c
		    	where sk.c_num = c.c_num
        		and sk_date between sysdate-7 and sysdate
       			and c.c_birth between '1988-01-01' and '1997-12-30'
		    	group by sk_searchkey
		    	order by count(sk_num) desc	
	</select>
	
	<select id="searchRankThirty" resultType="SearchKeywordChart">
		   select sk_searchkey, count(sk_num) as sk_count
		    from searchkeyword sk, customer c
		    where sk.c_num = c.c_num
        and sk_date between sysdate-7 and sysdate
        and c.c_birth between '1900-01-01' and '1987-12-30'
		    group by sk_searchkey
		    order by count(sk_num) desc

	</select>
	
	
	
	
	<!-- 특정 회원이 많이 검색한 검색어 -->
	<select id="customerSearchKeyAll" resultType="CustomerStats">
		select sk_searchkey, count(*) as key_count
			from searchkeyword
		  where c_num=#{c_num}
		  group by sk_searchkey
		  order by count(*) desc
	</select>
	
	
	<!-- 특정 회원이 많이 들어간 쇼핑몰 -->
	<select id="customerVisitShopAll" resultType="CustomerStats">
		select s.S_SNAME, count(*) as shop_count
		  from hitcount h, shoppingmall s
		  where h.s_num = s.s_num
		  and h.c_num=#{c_num}
		  group by s.s_sname
		  order by count(*) desc
	</select>
	
	<!-- 특정 회원이 많이 본 상품 -->
	<select id="customerVisitPrdAll" resultType="CustomerStats">
			select h_name, count(h_num) as count, h_prdurl, h_imgurl
			  from history
			  where c_num=#{c_num}
			  group by h_name, H_PRDURL, h_imgurl
			  order by count(h_num) desc	
	</select>
	
	<!-- 오늘 쇼핑몰 방문 순위 -->
	<select id="todayShop" resultType="SearchKeywordChart">
		select s.s_sname, count(h.hit_num) as hit_count
			  from hitcount h, shoppingmall s
			  where h.s_num = s.s_num
			  and h.cnt_date like to_char(sysdate, 'YY/MM/DD')
			  group by s.s_sname
			  order by count(h.hit_num) desc
	</select>
	
	
	
	
	
	
	<!-- 취향 비슷한 회원 -->
	<select id="getSimilar" resultType="CustomerStats">
				select c_num, count(*) as customer_count
			  from hitcount
			  where cnt_prdurl like '%'||#{cnt_prdurl}||'%'
			  group by c_num
			  order by count(*) desc
	</select>
	
</mapper>