@CHARSET "UTF-8";


/* 
.floatleft {
	float: left
}

.floatright {
	float: right
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
 */
a:focus {
	outline: 0px solid
}

/* img {
	max-width: 100%;
	height: auto;
} */

/* .fix {
	overflow: hidden
} */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0 0 15px;
}

/* body {
	font-family: 'Titillium Web', sans-serif;
} */

.header-area {
	background: none repeat scroll 0 0 #f4f4f4;
}

.header-area a {
	color: #888;
}

.user {
	margin-top: 10px;
	font-family: 맑은 고딕;
	font-size: 15px
}

.header-right ul.list-inline {
	margin: 0;
	text-align: right;
}

.header-right ul.list-inline li a {
	display: block;
	padding: 9px;
	font-family: 맑은 고딕;
	font-size: 15px
}

.header-right ul.list-inline li ul a {
	padding: 5px 15px;
}

.header-right ul.list-inline li ul {
	border: medium none;
	border-radius: 0;
	left: 50%;
	margin-left: -50px;
	min-width: 100px;
	text-align: center;
}
/* 
.mainmenu-area {
	background: none repeat scroll 0 0 #ad82ab;
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	width: 100%;
	z-index: 999;
} */

.logoimg {
	width: 200px;
	margin: 10px 0px;
}

.logo h1 {
	font-size: 40px;
	margin: 40px 0;
	font-weight: 400;
}

.logo h1 a {
	color: #999;
}

.logo h1 a:hover {
	text-decoration: none;
	opacity: 7
}

.logo h1 a span {
	color: #ad82ab;
}

/* .mainmenu-area ul.navbar-nav li a {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	padding: 20px 30px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a
	{
	background: white;
	color: #ad82ab
}

.mainmenu-area .nav>li>a:focus {
	background: #ad82ab;
	color: white
}
 */


/* 검색창 */
 
/*   .site-branding-area {
	height: 110px;
}  */


/* .header_search{
	height: 50px;
	margin: 10px 200px 0px 10px;
	text-align: center;
} */

 .search1{
 	display: inline;
 	height: 60px; 
}

 .search2{
	display: inline;
	position: absolute;
} 

#search-text{
	width: 85%;
	height: 60px;
	border: solid 5px #ad82ab;
	font-size: 30px;
	outline: none;
}

 #search-icon{
	border: solid 3px #ad82ab;
	height: 60px;
	margin-left: -5px;
} 




/* .navbar-default{
	background-color: #ad82ab;
} */
/* 
.navbar-default .navbar-nav>li>a{
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	padding: 20px 70px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
 .navbar-default .navbar-nav>.open>a:focus{
	color: #ad82ab;
	background: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: black;
}

.navbar-nav>li>.dropdown-menu{
	border: none;
	width: 100%;
}

.container-fluid{
	position: relative;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	font-family: 맑은 고딕;
	font-size: 20px;
	padding: 10px 30px;
	font-weight: bold;
	color: #ad82ab;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #ad82ab;
	background-color: white;
} */


/* 

.navbar-toggle {
    border-color: #fff;
    float: none;
    margin: 10px auto;
}
.navbar-toggle .icon-bar { background: none repeat scroll 0 0 #fff }  

 */





}

 