@CHARSET "UTF-8";

#btn-modify{
  background-color: hsl(287, 30%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ad82ab", endColorstr="#ad82ab");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ad82ab), to(#ad82ab));
  background-image: -moz-linear-gradient(top, #ad82ab, #ad82ab);
  background-image: -ms-linear-gradient(top, #ad82ab, #ad82ab);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ad82ab), color-stop(100%, #ad82ab));
  background-image: -webkit-linear-gradient(top, #ad82ab, #ad82ab);
  background-image: -o-linear-gradient(top, #ad82ab, #ad82ab);
  background-image: linear-gradient(#ad82ab, #ad82ab);
  border-color: #ad82ab #ad82ab hsl(287, 30%, 75%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.box{
	padding: 20px 40px;
	border: solid 8px #ad82ab;
}

.box-footer{
	text-align: center;
}









