<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <package name="kostyle.category.domain"/> -->
		<package name="kostyle.closet.domain"/> 
		<package name="kostyle.favorite.domain"/>
		<package name="kostyle.help.domain"/>
		<package name="kostyle.history.domain"/>
		<package name="kostyle.join.domain"/>
		<package name="kostyle.login.domain"/>
		<package name="kostyle.mypage.domain"/>
		<package name="kostyle.search.domain"/>
		<package name="kostyle.stats.domain"/>
		<package name="kostyle.shopjoin.domain"/>
		<package name="kostyle.admin.domain"/>
		<package name="kostyle.discount.domain"/>
		<package name="kostyle.find.domain"/>
	</typeAliases>
</configuration>